@import url('https://api.fontshare.com/v2/css?f[]=zodiak@540,400,700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-N1: #ffffff;
  --color-N2: #F0F0F0;
  --color-N3: #DADADA;
  --color-N4: #B1AFAF;
  --color-N5: #6C6C6C;
  --color-N6: #4B4B4B;
  --color-N7: #2D2D2D;
  --color-N8: #111111;
  --color-N9: #000000;
  --color-R1: #FFB7A7;
  --color-R2: #ED8068;
  --color-R3: #C55A42;
  --color-R4: #9D361F;
  --color-R5: #87240E;
  --color-R6: #721E0B;
  --color-R7: #5E1504;
  --color-R8: #470E01;
  --color-R9: #270700;
  --color-B1: #A9C2FF;
  --color-B2: #4870D3;
  --color-B3: #2F54AF;
  --color-B4: #1A3A8C;
  --color-B5: #0A266B;
  --color-B6: #04194D;
  --color-B7: #03133B;
  --color-B8: #000E31;
  --color-B9: #00081B;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  --font-zodiak: 'Zodiak', serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}